body {
  font-family: sans-serif;
  line-height: 1.2;
  height: 100vh;
  background-color: #A4C3B2;
}

main {
  height: 100%;
}

.add-target-link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  vertical-align: bottom;
  width: 300px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 32px;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
}

.add-target-link__image {
  float: left;
  color: rgba(0, 0, 0, 0.6);
}

.add-target-link__text {
  float: left;
  display:inline-block;
  margin-top: 4px;
}

.add-target-link:hover {
  color: #000;
}

.company-list {
  margin: 20px
}

.main-header {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 40px;
  padding-left: 10px;
}

.main-header__title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 8px;
  padding-bottom: 10px;
  display: inline-block;
}

.main-header__image {
  transform: translateY(4px);
}

.list-wrapper {
  float: left;
}

.company-list__item {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  display: none;
  font-size: 14px;
  vertical-align: top;
}

.company-list__name {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.company-list__detail {}

.company-list__status {
  background-color: #06070E;
  display: inline-block;
  font-size: 12px;
  padding: 3px 4px;
  border-radius: 5px;
  transform: translateY(-4px);
}

.company-list__label {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 3px;
}

.company-list__detail--contact {
  min-height: 52px;
}

.company-list__detail--additional {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  padding: inherit;
  left: 0;
  background: #D1E1D8;
  z-index: 100;
  width: 283px;
  border-radius: inherit;
  transition: all 100ms ease-in-out;
}

.company-list__detail--show-additional {
  opacity: 1;
  pointer-events: all;
  transition: all 100ms ease-in-out;
}


.company-list__detail--top {}

.li-body {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  padding: 1px 10px 6px 7px;
  margin-top: 4px;
  border-radius: 4px;
}

.li-body__view-full-button {
  position: absolute;
  right: 0;
  font-size: 12px;
  padding: 3px 4px;
}
.li-body__delete-button {
  position: absolute;
  right: -5px;
  top: -25px;
  font-size: 12px;
  padding: 3px 4px;
}

.li-body__delete-confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  z-index: 99;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0, 0.7);
  background-color: #FC7455;
  display: none;
}

.li-body__delete-confirm--show {
  display: block;
}

.li-body__pre-delete {
  opacity: 0.5;
}


.profile-pic {
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  background-image: url("../assets/user.svg");
  background-size: cover;
}

.detail-wrapper, .add-target-wrapper {
  text-align: center;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  background-color: #A4C3B2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  z-index: 200;
  padding: 20px;
  box-sizing: border-box;
}

.detail-wrapper__closer {
    padding: 0;
    float: right;
    font-size: 2em;
    cursor: pointer;
    transition: all 100ms ease-in;
    transform: scale(1.1);
}

.detail-wrapper--show, .add-target-wrapper--show {
  opacity: 1;
  pointer-events: all;
  transition: opacity 100ms ease-in-out;
}

.detail-container {

}

.detail {
  text-align: center;
}

.details-table-group {
  max-width: 500px;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  float: left;
  margin: 10px;
}

.details-table {
  width: 500px;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 4px;
}

th {
  font-weight: bold;
}

td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.4);
}

tbody tr:nth-child(even) {
  background-color: rgba(180, 180, 180, 0.4);
}
.expand {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 3px 0;
}

.company-full{
  max-width: 500px;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  float: left;
  margin: 10px
}

.company-full__item{
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 10px;
  min-width: 180px;
}

form {
  text-align: left;
}

input, select {
  height: 22px;
  font-size: 20px
  border-radius: 4px;
  width: 300px;
}


.add-target-form__text-input {
  margin-top: 3px;
}

.add-target-form__text-input--number {
  width: 100px;
}

.add-target-form__label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 11px;
}

.add-target-form__numbers {
  width: 302px;
  display: inline-block;
}

.add-target-form-set  {
  width: 130px;
  display: inline-block;
}

.add-target-form__part1 {
  float:left;
}

.add-target-form__part2 {
  float: left;
  margin-left: 10px;
}

.add-target-form__buttons {
  clear:both;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding-top: 25px;
}

.add-target-form__button {
  padding: 10px;
  font-weight:bold;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0, 0.3);
}

.add-target-form__button--cancel {

}

.add-target-form__button--submit {
  background-color: #8AB755;
}
