
Business Problem:
A company is looking to achieve inorganic growth through acquisitions. They have asked us to develop an online tool to track and analyze potential target companies.

Challenge:
Develop a prototype that will allow the client to perform the following activities:
View a list of targets
Edit an existing target
Create a new target
Delete a target

Assumptions:
Use a modern JavaScript framework (e.g., React, Angular)
Data does not need to be persisted (use mock data)

Examples of data to be captured:
Status (e.g., researching, pending approval, approved, declined)
Company Info
Key Contacts
Financial Performance


---
User Stories

As a user, I can view a list of targets to assess status at a glance.
As a user, I can view some extra details about a target with one click to gain more granular information.
As a user, I can view the entire record for a target at this point in the pipeline.
As a user, I can edit an existing target to provide updated information or fill in blanks.
As a user, I can create a new target to add to the list.
As a user, I can delete a target from the list.

---

Things I want to track about targets:
